.cursor {
    cursor: pointer;
}

.bg-2d3547 {
    background: #2d3547;
}

.bg-222836 {
    background: #222836;
}

.bg-f5f9ff {
    background-color: #f5f9ff;
}

.bg-1890ff {
    background: #1890ff;
}

.bg-339967 {
    background: #339967;
}

.bg-f31810 {
    background: #f31810;
}

.bg-FB6701 {
    background: #FB6701;
}

.bgccc {
    background: #cccccc;
}

.bg1890ff {
    background: #1890ff;
}

.bge0e3ea {
    background: #e0e3ea;
}

.bg-2d3547 {
    background: #2d3547;
}

.bg-e6e6e6 {
    background: #e6e6e6;
}

.color-606266 {
    color: #606266;
}

.color-909399 {
    color: #909399;
}

.color-c0c4cc {
    color: #c0c4cc;
}

.color-92 {
    color: #929292;
}

.color-80 {
    color: #808080;
}

.color-68 {
    color: #686868;
}

.color-1890ff {
    color: #1890ff;
}

.color-2d3547 {
    color: #2d3547;
}

.placeholderc0c4cc::-webkit-input-placeholder {
    color: #c0c4cc;
}

.placeholderc0c4cc:-moz-placeholder {
    color: #c0c4cc;
}

.placeholderc0c4cc::-moz-placeholder {
    color: #c0c4cc;
}

.placeholderc0c4cc:-ms-input-placeholder {
    color: #c0c4cc;
}

.splitLine1 {
    width: 1px;
    height: 24px;
}

.splitLine2 {
    width: 2px;
    height: 32px;
}

.splitLine3 {
    width: 2px;
    height: 18px;
}

.splitLine4 {
    width: 1px;
    height: 18px;
}

.iconSize1 {
    width: 7px;
    height: 14px;
}

.m-t--9 {
    margin-top: -9px;
}

.m-t-3 {
    margin-top: 3px;
}

.m-t-12 {
    margin-top: 12px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-both40 {
    margin-left: 40px;
    margin-right: 40px;
}

.m-v-40 {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}

.p-b-60 {
    padding-bottom: 60px;
}

.p-r-60 {
    padding-right: 60px;
}

.border-e0 {
    border: solid 1px #e0e0e0;
}

.border-909399 {
    border: solid 1px #909399;
}

.border-1890ff {
    border: solid 1px #1890ff;
}

.border-10-e0e3ea {
    border: solid 10px #e0e3ea;
}

.border-t-e0 {
    border-top: solid 1px #e0e0e0;
}

.border-2t-222836 {
    border-top: solid 2px #222836;
}

.border-2b-E4E7ED {
    border-bottom: solid 2px #E4E7ED;
}

.border-2b-e0e3ea {
    border-bottom: solid 2px #e0e3ea;
}

.border-b-e0 {
    border-bottom: solid 1px #e0e0e0;
}

.border-2b-1890ff {
    border-bottom: solid 2px #1890ff!important;
}

.border-e5ecf7 {
    border: 1px solid #e5ecf7;
}

.border-b-e5ecf7 {
    border-bottom: 1px solid #e5ecf7;
}

.hgt1 {
    height: 1px;
}

.hgt4 {
    height: 4px;
}

.hgt21 {
    height: 21px;
}

.hgt27 {
    height: 27px;
}

.hgt190 {
    height: 190px;
}

.hgt120 {
    height: 120px;
}

.p_both35 {
    padding-left: 35px;
    padding-right: 35px;
}

.radius15 {
    border-radius: 15px;
}

.wid40 {
    width: 40px;
}

.wid45 {
    width: 45px;
}

.wid50 {
    width: 50px;
}

.wid77 {
    width: 77px;
}

.wid90 {
    width: 90px;
}

.wid110 {
    width: 110px;
}

.wid120 {
    width: 120px;
}

.wid140 {
    width: 140px;
}

.wid160 {
    width: 160px;
}

.wid240 {
    width: 240px;
}

.wid400 {
    width: 400px;
}

.l-h-80 {
    line-height: 80px;
}

.end_column {
    display: flex!important;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

/* element ui样式修改 */

/* 菜单样式修改 */

.infoItem .el-menu {
    min-width: 120px !important;
    text-align: left;
}

.infoItem .el-menu .el-menu-item {
    min-width: 100%;
}

.infoItem .el-icon-arrow-down {
    display: none;
}

.systemMenu .el-menu--popup-right-start {
    background: transparent!important;
    min-width: 120px;
    padding: 0px;
}

/* 弹出框的样式 */

.el-dialog .el-dialog__header {
    background-color: #222836;
    padding: 18px 25px;
}

.el-dialog .el-dialog__title, .el-dialog .el-dialog__close, .el-dialog .el-dialog__close:hover {
    color: #ffffff!important;
}

.el-dialog__body {
    padding: 0px 0px;
}

.el-image__error {
    font-size: 12px;
}

.el-tabs__content {
    height: 100%;
}

.dialog-body-pad {
    padding: 60px 80px 60px;
}

/* 表格样式 */

.el-table--mini td {
    padding: 5px 0;
}

.el-table .cell {
    line-height: normal;
}

.el-table th {
    background: #e0e3ea;
    border: solid 1px #dcdfe6;
    height: 50px;
    color: #303133;
}

.el-table__row {
    height: 40px;
}

/* 表单 */

.el-form--inline .el-form-item--mini.el-form-item, .el-form--inline .el-form-item--small.el-form-item {
    margin-bottom: 10px;
}

.input-with-select .el-input-group__prepend {
    background-color: #fff;
}

/* 自定义tabs导航样式 */

.my_tabs {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.my_tab_bars::after {
    position: absolute;
    content: "";
    bottom: 0px;
    background: #e4e7ed;
    height: 2px;
    width: 100%;
}

.my_tab_header_bar {
    margin-left: 40px;
}

.my_tab_header_bar:first-child {
    margin-left: 0px;
}

.my_tab_header_bar:hover, .tab_bar_active {
    color: #1890ff;
}

.tab_bar_active::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 50%;
    background-color: #1890ff;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
}

.tab_bar_active::after {
    position: absolute;
    content: "";
    bottom: 0px;
    left: 50%;
    background-color: #1890ff;
    width: 100%;
    height: 2px;
    z-index: 2;
    transform: translateX(-50%);
}

/* vxe-table */

.vxe-table.vxe-editable.size--mini .vxe-body--column {
    height: 32px!important;
}

.vxe-table.size--mini .vxe-body--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-footer--column:not(.col--ellipsis), .vxe-table.size--mini .vxe-header--column:not(.col--ellipsis) {
    padding: 4px 0!important;
}
.vxe-table--header-wrapper {
    background-color: #e0e3ea!important;
}
.vxe-table.size--mini .vxe-header--column:not(.col--ellipsis) {
    padding: 4px 0!important;
    height: 50px!important;
}
